.modal {
  opacity: 0;
  transition: 0.3s;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  display: flex;
  z-index: 1000;

  &--opened {
    opacity: 1;
    pointer-events: auto;
  }

  &__background {
    background: rgba(123, 130, 142, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &__content {
    margin: auto;
    background: #F9F9F9;
    border-radius: 8px;
    box-shadow: 60px 40px 200px rgba(123, 121, 121, 0.35);
    padding: 32px;
    width: 464px;
    position: relative;

    @media (max-width: $xs) {
      width: calc(100vw - 24px);
      padding: 12px 12px 32px;
      overflow: auto;
      max-height: 100vh;
    }
  }

  &__close {
    display: none;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
    background: url('../img/close.svg') no-repeat center;

    @media (max-width: $xs) {
      display: block;
    }
  }

  &__title {
    font-family: $fontBold;
    font-size: 24px;
    line-height: 28px;
    color: #414141;
    text-align: center;
  }

  &__text {
    margin: 32px auto 0;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: $textColor;
    max-width: 314px;
  }
}

.modal-buttons {
  margin-top: 64px;
  position: relative;
  display: flex;
  justify-content: space-between;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -32px;
    left: 50%;
    width: 100px;
    height: 1px;
    background: #DADBDD;
    transform: translateX(-50%);
  }

  &__item {
    flex-shrink: 0;
  }

  &__name {
    font-size: 12px;
    line-height: 14px;
    color: $textColor;
    margin-bottom: 11px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 46px;
    background: linear-gradient(321.7deg, #EEEEF0 24.16%, #F7F7FF 84.43%);
    border-radius: 9px;
    border: 1px solid white;
    box-shadow: inset -10px -10px 20px rgba(255, 255, 255, 0.5), inset 10px 10px 20px #E0E1E3, -4px -4px 8px rgba(255, 255, 255, 0.5), 6px 6px 6px rgba(218, 219, 221, 0.25), 8px 8px 30px #DADBDD, -6px -6px 20px #FCFDFF;
    transition: 0.3s;

    @media (max-width: $xs) {
      width: 81px;
    }

    &--vk {
      width: 130px;
      background: linear-gradient(313.26deg, #1C77FF 16.28%, #00C2FF 96.44%);
      box-shadow: inset -10px -10px 20px rgba(168, 211, 251, 0.5), inset 10px 10px 20px rgba(21, 102, 177, 0.8), -4px -4px 8px rgba(255, 255, 255, 0.5), 6px 6px 6px rgba(218, 219, 221, 0.25), 8px 8px 30px #DADBDD, -6px -6px 20px #FCFDFF;

      @media (max-width: $xs) {
        width: 111px;
      }

      &:hover {
        background: linear-gradient(321.7deg, #EEEEF0 24.16%, #F7F7FF 84.43%);
        box-shadow: inset -10px -10px 20px rgba(255, 255, 255, 0.5), inset 10px 10px 20px #E0E1E3, -4px -4px 8px rgba(255, 255, 255, 0.5), 6px 6px 6px rgba(218, 219, 221, 0.25), 8px 8px 30px #DADBDD, -6px -6px 20px #FCFDFF;

        svg path {
          fill: #2D81E0;
        }
      }
    }

    &--tg {
      &:hover {
        background: linear-gradient(321.7deg, #59A4F9 24.16%, #59A4F9 84.43%);
        box-shadow: inset -10px -10px 20px #2D81E0, inset 10px 10px 20px #2A65A8, -4px -4px 8px rgba(255, 255, 255, 0.5), 6px 6px 6px rgba(218, 219, 221, 0.25), 8px 8px 30px #DADBDD, -6px -6px 20px #FCFDFF;

        svg path {
          fill: white;
        }
      }
    }

    &--wa {
      &:hover {
        background: linear-gradient(321.7deg, #55CD6C 24.16%, #55CD6C 84.43%);
        box-shadow: inset -10px -10px 20px #41B959, inset 10px 10px 20px #08912F, -4px -4px 8px rgba(255, 255, 255, 0.5), 6px 6px 6px rgba(218, 219, 221, 0.25), 8px 8px 30px #DADBDD, -6px -6px 20px #FCFDFF;

        svg path {
          fill: white;
        }
      }
    }
  }
}