.services {
  padding: 55px 0 0;
  background: $greyBackground;

  @media (max-width: $xs) {
    padding-top: 32px;
  }

  &__flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 68px;

    @media (max-width: $md) {
      flex-direction: column;
      align-items: center;
      padding-bottom: 80px;
    }

    @media (max-width: $xs) {
      padding-bottom: 40px;
      margin-top: 41px;
    }
  }

  &__img {
    margin-right: 154px;

    @media (max-width: 1399px) {
      margin-right: 80px;
    }

    @media (max-width: $md) {
      margin-right: 0;
    }

    @media (max-width: $xs) {
      display: none;
    }

    img {
      @media (max-width: 1399px) {
        max-width: 450px;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 630px;
    flex-shrink: 0;
    padding-top: 62px;

    @media (max-width: $md) {
      padding-top: 0;
    }

    @media (max-width: $xs) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  &__button {
    margin-top: 95px;

    @media (max-width: $xs) {
      margin-top: 40px;
    }
  }
}

.services-item {
  width: 274px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 80px;

  @media (max-width: $xs) {
    margin-top: 50px;
  }

  &:before {
    content: '';
    display: block;
    width: 1px;
    height: 100px;
    background: #DADBDD;
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);

    @media (max-width: $xs) {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      width: 100px;
      height: 1px;
    }
  }

  &:nth-child(odd) {
    margin-right: 80px;

    @media (max-width: $xs) {
      margin-right: 0;
    }

    &:before {
      display: none;

      @media (max-width: $xs) {
        display: block;
      }
    }
  }

  &:first-child {
    @media (max-width: $xs) {
      margin-top: 0;
    }

    &:before {
      @media (max-width: $xs) {
        display: none;
      }
    }
  }

  &__icon {
    @media (max-width: $xs) {
      margin-top: 21px;
    }
  }

  &__text {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color: $textColor;
    margin-top: 18px;
  }
}