footer.footer
    div.container.footer__container
        div.footer__left
            img(src="img/logo.svg" alt="Insta Help")
            div.footer__left-buttons
                a.icon.footer__icon(href="https://vk.com/artem_suhov" target="_blank")
                    img(src="img/vk.svg" alt="VK")
                a.icon.footer__icon(href="https://t.me/instahelprus" target="_blank")
                    img(src="img/direct.svg" alt="Telegram")
                div.footer__left-text
                    span Круглосуточно
                    | Онлайн консультация
        div.footer__center
            p.footer__title Навигация
            nav.footer-nav
                a.footer-nav__item.scroll-to(href="#top") Главная
                a.footer-nav__item.scroll-to(href="#services") Услуги
                a.footer-nav__item.scroll-to(href="#price") Стоимость
                a.footer-nav__item.scroll-to(href="#reviews") Отзывы
                a.footer-nav__item.scroll-to(href="#faq") F.A.Q
        div.footer__contacts
            a.footer__phone(href="tel:+79497779497") +7 (949) 777-9-497
                span с 09:00 до 22:00
            a.footer__email(href="mailto:instahelpsrus@gmail.com") Instahelpsrus@gmail.com

div.footer-bottom
    div.container.footer-bottom__container
        p.footer-bottom__text InstaHelp | All Rights Reserved
        div.footer-bottom__center
            a.footer-bottom__logo
                img(src="img/cactus-vision.svg" alt="Cactus Vision")
            p Свободны создавать
        a.footer-bottom__text(href="") Политика конфиденциальности