header.header
    div.container.header__container
        button.header__mobile-menu
            span
            span
            span
        span.header__mobile-title Меню
        button.header__mobile-close
            img(src="img/close.svg" alt="Закрыть")
        div.header__logo
            img(src="img/logo.svg" alt="Insta Help")
            span.header__logo-text Meta* признана экстремистской организацией в РФ
        nav.header-menu
            a.header-menu__link.scroll-to(href="#top") Главная
            a.header-menu__link.scroll-to(href="#services") Услуги
            a.header-menu__link.scroll-to(href="#price") Стоимость
            a.header-menu__link.scroll-to(href="#reviews") Отзывы
            a.header-menu__link.scroll-to(href="#faq") F.A.Q
        div.header__right
            p.header__text
                span Круглосуточно
                | Онлайн консультация
            a.header__button(href="https://vk.com/artem_suhov" target="_blank")
                img(src="img/vk.svg" alt="VK")
            a.header__button(href="https://t.me/instahelprus" target="_blank")
                img(src="img/direct.svg" alt="Telegram")
