doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Снимаем блокировку в инстаграм
        link(rel="stylesheet" type="text/css" href="css/style.min.css")
        link(rel="shortcut icon" type="image/x-icon" href="img/favicon.ico")
    body
        // HEADER
        include ../components/header.pug

        section.top
            div.top__left-img1
                img(src="img/top1.png" alt="")
            div.top__left-img2
                img(src="img/top2.png" alt="")
            div.top__right-img
                img(src="img/top-right.png" alt="")
            h1.top__title Снимаем блокировку<br />в
            img.top__logo(src="img/insta.svg" alt="Instagram")
            div.top__text Наша компания - это группа профессионалов в сфере восстановления аккаунтов instagram, имеющая 10-ти летний опыт работы. Целью компании является оказание всесторонней помощи и поддержки пользователей, которые столкнулись с блокировкой своего аккаунта.
            button.top__button.button.modal-open Нужна помощь

            div.top-advantages
                div.top-advantages__item
                    div.top-advantages__icon.icon
                        img(src="img/top-icon1.svg" alt="")
                    p.top-advantages__text Самые низкие цены в интернете
                div.top-advantages__item
                    div.top-advantages__icon.icon
                        img(src="img/top-icon2.svg" alt="")
                    p.top-advantages__text Максимально быстрое возвращение аккаунта
                div.top-advantages__item
                    div.top-advantages__icon.icon
                        img(src="img/top-icon3.svg" alt="")
                    p.top-advantages__text Оплата только после восстановления аккаунта
                div.top-advantages__item
                    div.top-advantages__icon.icon
                        img(src="img/top-icon4.svg" alt="")
                    p.top-advantages__text Бесплатное восстановление при повторной блокировке. Мы ценим наших клиентов

        section.services#services
            h2.title Наши услуги
            div.services__flex
                div.services__img
                    img(src="img/services.png" alt="")
                div.services__content
                    div.services-item
                        div.services-item__icon.icon
                            img(src="img/service1.svg" alt="")
                        p.services-item__text Восстановление аккаунта
                    div.services-item
                        div.services-item__icon.icon
                            img(src="img/service2.svg" alt="")
                        p.services-item__text Блокировка аккаунта
                    div.services-item
                        div.services-item__icon.icon
                            img(src="img/service3.svg" alt="")
                        p.services-item__text Получение резервного кода
                    div.services-item
                        div.services-item__icon.icon
                            img(src="img/service4.svg" alt="")
                        p.services-item__text Получение СМС
                    button.services__button.button.modal-open Заказать услугу

        section.price#price
            h2.title Стоимость
            p.text Стоимость наших услуг рассчитывается строго индивидуально. После обращения и понимания, с чем нужно будет работать, менеджер сформирует для Вас цену. В большинстве случаев она минимальная!
            div.price__content
                div.price-item
                    div.icon
                        img(src="img/price-icon1.svg" alt="")
                    div.price-item__title Эконом
                    div.price-item__cost от 3 000 руб.
                    p.price-item__detail Получение СМС
                    p.price-item__detail Получение резервного кода
                    button.price-item__button.button.button--disabled.modal-open Заказать услугу
                div.price-item.price-item--active.price-item--premium
                    div.icon
                        img(src="img/price-icon2.svg" alt="")
                    div.price-item__title Премиум
                    div.price-item__cost от 8 000 руб.
                    p.price-item__detail Восстановление аккаунта в сложных случаях*
                    p.price-item__detail Сопровождение 24/7
                    p.price-item__detail Бесплатное восстановление при повторной блокировке
                    button.price-item__button.button.modal-open Заказать услугу
                div.price-item
                    div.icon
                        img(src="img/price-icon3.svg" alt="")
                    div.price-item__title Стандарт
                    div.price-item__cost от 5 000 руб.
                    p.price-item__detail Стандартное восстановление аккаунта
                    p.price-item__detail Бесплатное восстановление при повторной блокировке
                    button.price-item__button.button.button--disabled.modal-open Заказать услугу

        section.reviews#reviews
            h2.title Отзывы от наших клиентов
            p.text.reviews__text Мы работаем с 2012 года, и у нас уже сотни хороших отзывов, нам доверяют свои данные и не переживают за их конфиденциальность. Если Вы сомневаетесь, можете посмотреть отзывы реальных людей в соц сети <a href="https://vk.com/artem_suhov" target="_blank">Вконтакте</a> и убедиться, что Ваш аккаунт, как и сотни других, будет успешно восстановлен!
            div.reviews__content.container
                div.owl-carousel
                    div.reviews-item
                        div.reviews-item__header
                            div.reviews-item__photo
                                img(src="img/ava1.png" alt="")
                            div.reviews-item__name
                                a(href="https://vk.com/mhl" target="_blank") Молодежная Хоккейная Лига
                                span г. Москва
                            div.reviews-item__stars
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                        div.reviews-item__text
                            p Спасибо Артёму, что вернул наш аккаунт с того света Все сделал оперативно и реально без предоплаты! Пункт №7 тоже проверили, все по-честному! Можете обращаться и не бояться
                        p.reviews-item__date 13 ноя 2022 в 21:52
                    div.reviews-item
                        div.reviews-item__header
                            div.reviews-item__photo
                                img(src="img/ava2.png" alt="")
                            div.reviews-item__name
                                a(href="https://vk.com/alecspol" target="_blank") Алексей Полицын
                                span г. Москва
                            div.reviews-item__stars
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                        div.reviews-item__text
                            p Обратился за помощью, сделали все очень быстро, по ощущениям я через пару минут уже был в своем аккаунте. До этого был неудачный опыт разблокировки через другого человека с постоянными банами на 24 часа! Потом решил уже обратиться сюда!
                            p Спасибо ещё раз большое!! Красавчик!
                        p.reviews-item__date 18 ноя 2022 в 21:52
                    div.reviews-item
                        div.reviews-item__header
                            div.reviews-item__photo
                                img(src="img/ava3.png" alt="")
                            div.reviews-item__name
                                a(href="https://vk.com/sugardnr" target="_blank") Вера Сарпова
                                span г. Ростов-на-Дону
                            div.reviews-item__stars
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                        div.reviews-item__text
                            p Спасибо что вернули 3 рабочих акк и за постоянную консультацию
                        p.reviews-item__date 13 ноя 2022 в 21:52
                    div.reviews-item
                        div.reviews-item__header
                            div.reviews-item__photo
                                img(src="img/ava4.png" alt="")
                            div.reviews-item__name
                                a(href="https://vk.com/love_tigers" target="_blank") Светлана Блинникова
                                span г. Иркутск
                            div.reviews-item__stars
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                        div.reviews-item__text
                            p Мы готовы петь песни благодарности Артему всем нашим коллективом! Огромное спасибо! За 10 минут восстановил аккаунт, когда другие обещали до 30 дней!Только огромная рекомендация! Теперь навсегда в наших заметках!
                        p.reviews-item__date 13 ноя 2022 в 21:52
                    div.reviews-item
                        div.reviews-item__header
                            div.reviews-item__photo
                                img(src="img/ava5.png" alt="")
                            div.reviews-item__name
                                a(href="https://vk.com/id460778322" target="_blank") Лилия Стороженкова
                                span г. Самара
                            div.reviews-item__stars
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                        div.reviews-item__text
                            p Огромное спасибо , что вернули аккаунт! Было несколько человек , но интуитивно выбрала вас , и славу богу, не ошиблась ! Вы смогли вернуть , мой не самый простой случай ! Огромное спасибо за четкость , за быстрые ответы ! Блин круто !!! Я очень благодарна! И реально круто , что без предоплаты , а чисто на доверии , буду вас рекомендовать
                        p.reviews-item__date 15 ноя 2022 в 21:29
                    div.reviews-item
                        div.reviews-item__header
                            div.reviews-item__photo
                                img(src="img/ava6.png" alt="")
                            div.reviews-item__name
                                a(href="https://vk.com/elenalovelawyer" target="_blank") Елена Пипинова
                                span г. Москва
                            div.reviews-item__stars
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                                img(src="img/star.svg" alt="")
                        div.reviews-item__text
                            p Артема нашла случайно в комментариях VK, и не секунды не пожалела. Восстановил акк , хотя я с ним возилась самостоятельно несколько дней. Конечно немного смущало давать логин и пароль, но тут либо доверяешь, либо теряешь аккаунт навсегда. Спасибо огромное, мой «дневник памяти» спасён
                        p.reviews-item__date 19 ноя 2022 в 10:05

                div.reviews__navigation
                    button.reviews__prev
                    div.reviews__dots
                    button.reviews__next
                    a.reviews__link(href="https://vk.com/artem_suhov" target="_blank") Отзывы в VK

        section.faq#faq
            div.container
                h2.title Частые вопросы
                div.faq__content
                    div.faq-item.faq-item--opened
                        div.faq-item__question
                            p Как снять блокировку с аккаунта Instagram
                            button.faq-item__trigger
                        div.faq-item__answer
                            ul
                                li Свяжитесь с нами через чат в удобном для вас мессенджере — ВКонтакте или Telegram и подробно опишите вашу ситуацию.
                                li Или заполните заявку обратной формы на сайте и мы свяжемся с вами по телефону.
                                li Во время консультации мы согласуем цену и получим от вас данные для начала работы.
                                li В процессе работы мы будем держать вас в курсе каждого шага в разблокировке аккаунта.
                                li Мы не берем предоплату. Оплата производится по факту успешно разблокированного аккаунта.
                                li Бывают случаи, когда до обращения к нам пользователь совершает много ошибочных действий, которые приводят к безвозвратной потере аккаунта. Поэтому лучше не пытаться решить проблему самостоятельно, а сразу довериться специалистам.
                    div.faq-item
                        div.faq-item__question
                            p Виды блокировок
                            button.faq-item__trigger
                        div.faq-item__answer
                            h5 Случайная блокировка
                            h6 Блокировка IP-адреса
                            p Иногда могут возникать ошибки, которые не дают войти в аккаунт. Они появляются по причине попадания IP-адреса в черный список Instagram. Проверить это можно, подключившись к другой сети (например, перейти с домашней сети на мобильную). Если проблема решилась — потребуется просто заменить заблокированный адрес.
                            h6 Программная ошибка в телефоне
                            p Если с другого устройства проблем со входом в аккаунт не возникает — проверьте свой смартфон на вирусы, возможно, нужно будет очистить кеш и переустановить приложение Instagram.
                            h6 Кража аккаунта
                            p Если у вас есть подозрение, что в ваш аккаунт выполнен посторонний вход — как можно быстрее замените пароль.

                            h5 Теневой бан
                            p Во время теневого бана алгоритм искусственно снижает охваты профиля за нарушение правил Instagram. Официального предупреждения не будет, но ваши посты временно перестанут отображаться по тегам и геолокациям, а также попадать в рекомендации.
                            p Понять, что у вас теневой бан, можно проанализировав статистику аккаунта, также можно воспользоваться сервисом Triberr и проверить аккаунт.
                            p Попадают профили в теневой бан из-за спама хештегами, частого редактирования публикаций или из-за большого количества жалоб на профиль.
                            p Чтобы снять теневой бан, нужно временно перейти с бизнеса на личный аккаунт и убрать любую активность в аккаунте на двое суток.

                            h5 Временная блокировка
                            p Представляет временный запрет на все или определенные действия в Instagram. Ограничивают аккаунты за легкие нарушения правил, но при частых повторных нарушениях можно отправиться в вечный бан. Длительность блокировки зависит от количества нарушений и может быть как 3 часа, так и 3, и 21 день.
                            p Что происходит при временной блокировке:
                            ul
                                li Необходима смена пароля. Под прежним паролем не получается зайти, придется его заменить.
                                li Запрет на определенные действия. Сюда относится запрет на написание комментариев под постами и другое.
                                li Блокировка абсолютно всех действий. В период всего срока блокировки аккаунта не получится совершать любые действия, вплоть до публикации постов.

                            h5 Вечная блокировка
                            p Дается после нескольких временных блокировок, если пользователь продолжает нарушать правила Instagram. Подразумевает под собой полное удаление профиля. Вы получите уведомление о блокировке аккаунта, а сам аккаунт исчезнет из социальной сети.
                    div.faq-item
                        div.faq-item__question
                            p Причины бана в Instagram
                            button.faq-item__trigger
                        div.faq-item__answer
                            p Есть несколько причин, почему Instagram-аккаунт могут заблокировать:
                            ul
                                li Большое количество жалоб на профиль.
                                li Подозрительная активность — множество отметок под фотографиями или большое количество повторяющихся или очень похожих между собой комментариев.
                                li Нарушение авторских прав, плагиат чужих фотографий и текстов.
                                li Создание копии аккаунта, дублирование профиля (в том числе своего). Во избежание создания фейков.
                                li Размещение материала характера 18+. Дети без одежды также относятся сюда. Чтобы избежать нарушений интимные участки скрывайте с помощью фотошопа.
                                li Публикации, пропагандирующие суицидальное поведение, анорексию и подобные расстройства.
                                li Размещение сцен жестокости, например, драки.
                                li Размещение информации, которая провоцирует национальную вражду, дискриминирует секс-меньшинства.
                                li Реклама запрещенных товаров, например, оружие или наркотики.
                                li Спам-активность в Direct.
                                li Размещение на странице логотипов известных компаний, брендов.
                                li Подключение к аккаунту посторонних приложений.
                                li Несколько одновременных входов в аккаунт с разных IP-адресов. Сеть начинает подозревать взлом.
                                li Использование сервисов накрутки подписчиков и лайков.
                                li Публикация персональной информации другого человека, например, номера страховки или электронной почты.
                    div.faq-item
                        div.faq-item__question
                            p Оплата услуг
                            button.faq-item__trigger
                        div.faq-item__answer
                            p Стоимость услуг рассчитываем индивидуально. Каждый случай отличается сложностью и временем, которое понадобится на разблокировку аккаунта.
                            p Со стандартными ценами на услуги можно ознакомиться выше, в зависимости от вашей ситуации цена может меняться.
                            p Один из принципов нашей работы — мы не вводим клиента в заблуждение и не преувеличиваем объем проблемы, чтобы завысить цену. Узнать точную стоимость услуги для вашей ситуации можно на консультации с нашими специалистами.
                            p Мы клиентоориентированы! Ознакомьтесь с более чем сотней положительных отзывов о нашей работе в группе.
                            p Мы вас ценим.
                    div.faq-item
                        div.faq-item__question
                            p Гарантии
                            button.faq-item__trigger
                        div.faq-item__answer
                            p С большинством заявок мы справляемся в течение 40 минут.
                            p Мы не можем 100% гарантировать восстановление аккаунта, так как есть виды блокировок, которые уже нельзя исправить.
                            p Гарантией на наши услуги выступает оплата по факту проделанной работы.
                            p При повторной блокировке аккаунта по той же причине разблокировка бесплатная.
                            p От себя мы гарантируем максимально быстрые сроки по восстановлению аккаунта, ответственность в работе и полную приватность ваших данных.

                button.button.faq-item__button.modal-open Нужна помощь

        // FOOTER
        include ../components/footer.pug

        // MODAL
        include ../components/modal.pug

        // SCRIPTS
        include ../components/scripts.pug